Source: pymisc
Section: utils
Priority: extra
Maintainer: Vespian <vespian@wp.pl>
Build-Depends: python (>= 2.7), debhelper (>= 8), python-dnspython,
    python-coverage, python-protobuf, python-unittest2, python-yaml
Standards-Version: 3.9.3
X-Python-Version: >= 2.7

Package: pymisc
Version: 0.2.0
Architecture: any
Depends: ${python:Depends}, python-openssl, python-bernhard, python-argparse,
    python-protobuf, python-yaml, python-dulwich (>= 0.8), openssh-client,
    python-dnspython
Description: Set of simple tools usefull for small scripts.
