#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_NAME=pymisc

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_test:
	PYBUILD_SYSTEM=custom \
	PYBUILD_TEST_ARGS="nosetests {dir}/" dh_auto_test


